*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #fff;
    min-height: 100vh;
}
.card{
    background:#ffffff15;
    backdrop-filter: blur(10px);
    padding:30px;
    width:350px;
    height: 45vh;
    border-radius:12px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}
h1{
    font-size: 22px;
    margin-bottom: 20px;
}
.year{
    opacity: 0.8;
}
.quote{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}
button{
    transition: 0.3s;
    padding: 20px;
    color: #fff;
    background: #f08420;
    border-radius: 10px;
    width: 350px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    margin-left: 30px;
}
button:hover{
    background: #ffc107;
    transform: scale(1.05);
}
#title{
    margin-top: 15px;
    color: #3d0303;
    font-weight: 600;
    text-decoration: underline;
}

